- render_waiting_for_approval ||= false
- hypothesis_citation_id ||= nil

.col-md-6
  - if render_waiting_for_approval && citation.waiting_on_github?
    .alert.alert-info
      - if citation.pull_request_number.present?
        %h4
          Citation waiting on approval,
          = link_to "PR#{citation.pull_request_number}", citation.pull_request_url
      - else
        Waiting for pull request to be created, page will reload.
        -# if citation hasn't been updated recently, skip this (something broke?)
        - if @citation.updated_at > Time.current - 2.minutes
          :javascript
            window.setTimeout(() => {location.reload();}, 1000);

  %table.table-list
    %tbody
      %tr
        %td Title
        %td
          = citation.title
          - unless controller_name == "citations" && action_name == "show"
            = link_to internal_link_text, citation_path(citation.to_param), class: "internal-link"
      %tr
        %td URL
        %td
          - if citation.url.present?
            = link_to citation.url, citation.url
      %tr
        %td GitHub
        %td
          - if citation.approved?
            = link_to citation.file_path.truncate(75), citation.github_html_url, title: citation.file_path
            - if citation.pull_request_number.present?
              %em.small.less-strong.mt-2.d-block
                Approved by
                = link_to "PR##{citation.pull_request_number}", citation.pull_request_url
                - if citation.approved_at.present?
                  %span.convertTime.withPreposition
                    = l citation.approved_at, format: :convert_time
          - else
            %em.less-strong not approved
      - if display_dev_info?
        %tr.only-dev-visible
          %td ID
          %td= citation.id
        - if hypothesis_citation_id.present?
          %tr.only-dev-visible
            %td
              %small Hypothesis Citation ID
            %td= hypothesis_citation_id
      %tr
        %td URL direct link?
        %td= display_true_or_false(citation.url_is_direct_link_to_full_text)
      %tr
        %td Kind
        %td= citation.kind_humanized
      %tr
        %td Peer reviewed?
        %td= display_true_or_false(citation.peer_reviewed)
      %tr
        %td Publication
        %td
          - if citation.publication.present?
            = link_to citation.publication.title, publication_path(citation.publication)
      %tr
        %td Published date
        %td
          -# See note about time specificity in citation - it's why we're doing date, not convertTime
          = citation.published_date_str
      %tr
        %td Authors
        %td
          - if citation.authors.present?
            %ul
              - citation.authors.each do |author|
                %li
                  = author
      %tr
        %td Hypotheses
        %td= citation.hypotheses.count
      %tr
        %td Quotes
        %td
          %ul.small
            - citation.quotes.pluck(:text).each do |text|
              %li= text

