- render_waiting_for_approval ||= false

.col-md-6

  - if render_waiting_for_approval && citation.unapproved?
    .alert.alert-info
      - if citation.pull_request_number.present?
        %h4
          Citation waiting on approval,
          = link_to "PR#{citation.pull_request_number}", citation.pull_request_url
      - else
        Waiting for pull request to be created, page will reload.
        -# NOTE: This will reload endlessly, which may not be what we want
        :javascript
          window.setTimeout(() => {location.reload();}, 1000);

  %table.table-list
    %tbody
      %tr
        %td Citation URL
        %td
          - if citation.url.present?
            = link_to UrlCleaner.pretty_url(citation.url), citation.url
      %tr
        %td Title
        %td
          = citation.title
          - unless controller_name == "citations" && action_name == "show"
            = link_to internal_link, citation_path(citation.to_param), class: "internal-link"

      - if citation.approved?
        %tr
          %td GitHub
          %td
            = link_to citation.file_path.truncate(75), citation.github_html_url, title: citation.file_path
            - if citation.pull_request_number.present?
              %em.small.less-strong.mt-2.d-block
                Approved by
                = link_to "PR#{citation.pull_request_number}", citation.pull_request_url
      - if current_user&.developer?
        %tr.only-dev-visible
          %td ID
          %td= citation.id
      %tr
        %td URL direct link?
        %td= display_true_or_false(citation.url_is_direct_link_to_full_text)
      %tr
        %td Peer reviewed?
        %td= display_true_or_false(citation.peer_reviewed)
      %tr
        %td Randomized controlled trial?
        %td= display_true_or_false(citation.randomized_controlled_trial)
      %tr
        %td Publication
        %td
          - if citation.publication.present?
            = link_to citation.publication.title, publication_path(citation.publication)
            - citation.publication.badges.keys.each do |badge|
              %em.small.less-strong
                = HypothesisScorer.badge_humanized(badge)
      %tr
        %td Published date
        %td
          -# See note about time specificity in citation - it's why we're doing date, not convertTime
          = citation.published_date_str
      %tr
        %td Authors
        %td
          - if citation.authors.present?
            %ul
              - citation.authors.each do |author|
                %li
                  = author
      %tr
        %td Hypotheses
        %td= citation.hypotheses.count
