.form-group
  = form.label :url, "URL"
  = form.text_field :url, required: true, class: "form-control"
.form-group
  = form.label :assignable_kind, "Source kind"
  = form.select :assignable_kind, Citation.assignable_kinds.map { |k| [k.humanize.to_s, k] }, {}, { class: "form-control" }
.form-group
  %label.form-check-label
    = form.check_box :url_is_direct_link_to_full_text, class: "form-check-input"
    URL is a direct link to the full text of the article
.form-group
  = form.label :title do
    -# TODO: Make this update and change based on the
    %span#citationKind
      Article
    title
  = form.text_field :title, placeholder: "optional", class: "form-control"
.form-group
  = form.label :authors_str do
    Authors
    %small.less-strong new line delineated
  = form.text_area :authors_str, placeholder: "optional", class: "form-control"
