- citations ||= @citations

.full-screen-table
  %table.table.table-striped.table-sm.table-bordered
    %thead
      - if display_dev_info?
        %th.only-dev-visible.small
          ID
      %th
        Title
      %th
        Created
      %th
        Kind
      %td
        Publication
      %td
        %small Hypothesis count
    %tbody
      - citations.each do |citation|
        %tr
          - if display_dev_info?
            %td.only-dev-visible.small
              = citation.id
          %td
            = citation.title
            = link_to internal_link_text, citation_path(citation.to_param), class: "internal-link"
          %td
            %span.convertTime
              = l citation.created_at, format: :convert_time
          %td
            = citation.kind_humanized_short
          %td
            = citation.publication&.title
          %td
            %small= citation.hypotheses.count
