- citations ||= @citations

.full-screen-table
  %table.table.table-striped.table-sm.table-bordered
    %thead
      %th
        Title
      %th
        Created
      %th
        Kind
      %td
        Publication
      %td
        %small Hypothesis count
    %tbody
      - citations.each do |citation|
        %tr
          %td
            = link_to citation.title, citation_path(citation.to_param)
          %td
            %span.convertTime
              = l citation.created_at, format: :convert_time
          %td
            = citation.kind_humanized_short
          %td
            = citation.publication.title
          %td
            %small= citation.hypotheses.count
