%h1
  Viewing Citation

.max-main-width
  %table.table-list
    %tbody
      %tr
        %td Title
        %td= @citation.title
      %tr
        %td ID
        %td= @citation.id
      %tr
        %td URL
        %td
          = link_to UrlCleaner.pretty_url(@citation.url), @citation.url
      %tr.small
        %td URL direct link?
        %td= @citation.url_is_direct_link_to_full_text
      %tr
        %td Publication
        %td
          - if @citation.publication.present?
            = link_to @citation.publication.title, publication_path(@citation.publication)
      %tr
        %td Kind
        %td= @citation.kind_humanized
      %tr
        %td Published at
        %td
          - if @citation.published_at.present?
            %span.convertTime
              = l @citation.published_at, format: :convert_time
      %tr
        %td Authors
        %td
          - if @citation.authors.present?
            %ul
              - @citation.authors.each do |author|
                %li
                  = author
      %tr
        %td Hypotheses
        %td= @hypotheses.count

%h2.mt-4.mb-1 Hypothesis

= render partial: "/hypotheses/table", locals: { citations: @hypotheses, skip_citation_id: @citation.id }
