- render_full_fields ||= false
- initially_show ||= false

= f.hidden_field :id # necessary to do manually, or else it isn't included for new objects

.col-md-6.mb-4.mt-2.collapse.nested-field{ class: (initially_show ? "show" : "initially-hidden")}
  .form-group.remove-fields-wrap
    = f.label :url do
      URL
    = f.label :_destroy, class: "remove-fields text-warning less-strong" do
      = f.check_box :_destroy
      remove
    = f.text_field :url, required: true, class: "form-control hasRequired"
  -# .form-group
  -#   = f.label :assignable_kind, "Source kind"
  -#   = f.select :assignable_kind, Citation.assignable_kinds.map { |k| [k.humanize.to_s, k] }, {}, { class: "form-control" }
  .form-group
    = f.label :quotes_text do
      Relevant quotes<small class="less-strong ml-1">new line delineated</small>
    = f.text_area :quotes_text, required: true, rows: 4, class: "form-control hasRequired"

  - if render_full_fields && f.object.citation.present?
    - if f.object.citation.editable_by?(current_user)
      -# NOTE: if we're trying to render these on JS form expansion, we'll have to handle the overlapping ID problem here
      - full_fields_id = "fullCitationFields-#{f.object.citation.id.presence || (Time.current.to_i)}"
      .text-center{style: "margin: -1em 0 1em;"}
        %a.small.less-strong{ href: "##{full_fields_id}", "role" => "button", "aria-expanded" => "false", "data-toggle" => "collapse" }
          %em toggle extended citation attributes
      .collapse{ id: full_fields_id }
        = f.fields_for :citation do |nested|
          .form-group.mt-0
            .form-check
              %label.form-check-label
                = nested.check_box :url_is_direct_link_to_full_text, class: "form-check-input"
                URL is a direct link to the full text of the citation
          .form-group.mt-0
            .form-check
              %label.form-check-label
                = nested.check_box :peer_reviewed, class: "form-check-input"
                Citation was peer reviewed before publication
          .form-group.mt-0
            .form-check
              %label.form-check-label
                = nested.check_box :randomized_controlled_trial, class: "form-check-input"
                Citation is about a randomized controlled trial
            -# Once we have a lot of publications, we may want to show/hide this based on the publication.
            -# For now, just assigning meta_publication to publications is easier to deal with
            -# %label.form-check-label.small
            -#   = nested.check_box :url_is_not_publisher, class: "form-check-input"
            -#   URL is not the publisher (e.g. jstor)
          .form-group
            = nested.label :title do
              -# TODO: Make this update and change based on the assignable_kind
              %span
                Article
              title
            = nested.text_field :title, placeholder: "optional", class: "form-control"

          -# Only show the publication title field if it hasn't been previously set
          - if nested.object&.publication&.title_url?
            .form-group
              = nested.label :publication_title
              = nested.text_field :publication_title, placeholder: "optional", class: "form-control"
          .form-group
            = nested.label :authors_str do
              Authors
              %small.less-strong new line delineated
            = nested.text_area :authors_str, placeholder: "optional", class: "form-control"
    - else
      .text-center{style: "margin: -1em 0 1em;"}
        %em.less-strong
          You can't edit this citation, it's already been approved. Suggest changes to
          = link_to "the file on GitHub", f.object.citation.github_html_url, target: "_blank"
