- render_full_fields ||= false
- initially_show ||= false
-# initially_toggled is only really for development, when working on the view
- initially_toggled ||= false
- initially_toggled = false unless initially_show && render_full_fields
-# Remove is hidden in hypothesis_citations views
- skip_remove ||= false

-# Challenge stuff
- is_challenge ||= false
- if is_challenge
  - if f.object.challenge_same_citation_kind?
    -# If it's using the same citation, the citation has already been added
    - render_full_fields = false
    - challenge_same_citation_collapse_class = "collapse challengeNewCitationField initially-hidden"
  - else
    - challenge_same_citation_collapse_class = "collapse challengeNewCitationField show"
- challenge_same_citation_collapse_class ||= ""

= f.hidden_field :id # necessary to do manually, or else it isn't included for new objects
.col-md-6.mb-4.mt-2.collapse.nested-field.hypothesisCitationFields{class: (initially_show ? "show" : "initially-hidden")}
  - if is_challenge
    = f.hidden_field :challenged_hypothesis_citation_id
    .form-group
      - if f.object.id.present? # We don't allow editing the kind after creation
        .form-control-plaintext
          = f.object.kind_humanized
      - else
        = f.label :kind, "What are you challenging?"
        - kind_opts = options_for_select(HypothesisCitation.challenge_kinds.map { |k| [HypothesisCitation.kind_humanized(k)&.titleize, k] }, f.object.kind)
        = f.select :kind, kind_opts, {}, { class: "form-control challengeKindSelect" }

  .form-group.remove-fields-wrap{ class: challenge_same_citation_collapse_class }
    = f.label :url do
      URL
    - unless skip_remove
      = f.label :_destroy, class: "remove-fields text-warning less-strong" do
        = f.check_box :_destroy
        remove
    = f.text_field :url, required: true, class: "form-control hasRequired"
  .form-group
    = f.label :quotes_text do
      Relevant quotes<small class="less-strong ml-1">new line delineated</small>
    = f.text_area :quotes_text, required: true, rows: 4, class: "form-control hasRequired"

  - if is_challenge
    .form-group
      = f.label :challenge_description do
        Extra context for challenge<small class="less-strong ml-1">optional, only include if necessary</small>
      = f.text_area :challenge_description, rows: 2, class: "form-control"

  - if render_full_fields && f.object.citation.present?
    - if f.object.citation.editable_by?(current_user)
      -# NOTE: if we're trying to render these on JS form expansion, we'll have to handle the overlapping ID problem here
      - full_fields_id = "fullCitationFields-#{f.object.citation.id.presence || (Time.current.to_i)}"
      .text-center{style: "margin: -1em 0 1em;"}
        %a.small.less-strong{ href: "##{full_fields_id}", "role" => "button", "aria-expanded" => "false", "data-toggle" => "collapse" }
          %em toggle extended citation attributes
      .collapse{ id: full_fields_id, class: (initially_toggled ? "show" : "initially-hidden") }
        = f.fields_for :citation do |nested|
          .form-group.mt-0
            = nested.label :title, "Article title"
            = nested.text_field :title, placeholder: "optional", class: "form-control"

          - if nested.object.kind_selectable?
            .form-group
              = nested.label :kind, "Citation kind"
              - citation_kind_opts = options_for_select(Citation.kinds.map { |k| [Citation.kind_humanized(k)&.titleize, k] }, nested.object.kind)
              = nested.select :kind, citation_kind_opts, {}, { class: "form-control citationKindSelect" }

          .form-group.mt-0.collapse.kindResearchField
            .form-check
              %label.form-check-label
                = nested.check_box :peer_reviewed, class: "form-check-input"
                Citation was peer reviewed before publication

          .form-group.mt-0
            .form-check
              %label.form-check-label
                = nested.check_box :url_is_direct_link_to_full_text, class: "form-check-input"
                URL is a direct link to the full text of the citation
          -#.form-group.mt-0
          -#  .form-check
          -#    %label.form-check-label
          -#      = nested.check_box :randomized_controlled_trial, class: "form-check-input"
          -#      Citation is about a randomized controlled trial
          -# Once we have a lot of publications, we may want to show/hide this based on the publication.
          -# For now, just assigning meta_publication to publications is easier to deal with
          -# %label.form-check-label.small
          -#   = nested.check_box :url_is_not_publisher, class: "form-check-input"
          -#   URL is not the publisher (e.g. jstor)
          -# Only show the publication title field if it hasn't been previously set
          - if nested.object&.publication&.title_url?
            .form-group
              = nested.label :publication_title
              = nested.text_field :publication_title, placeholder: "optional", class: "form-control"

          - unless nested.object.skip_author_field?
            .form-group
              = nested.label :authors_str do
                Authors
                %small.less-strong new line delineated
              = nested.text_area :authors_str, value: nested.object.authors&.join("\n"), placeholder: "optional", class: "form-control"
          - unless nested.object.skip_published_at_field?
            .form-group
              = nested.label :published_date_str do
                Published date
                %small.less-strong YYYY-MM-DD
              = nested.text_field :published_date_str, placeholder: "optional", class: "form-control"
    - else
      .text-center{style: "margin: -1em 0 1em;"}
        %em.less-strong
          You can't edit this citation, it's already been approved. Suggest changes to
          -# github_html_url should always be present here... but if it's broken, and the url is blank, clicking the link just reloads the page which is super confusing and unhelpful. So at least send the user to a page to see the citation
          - suggest_url = f.object.citation.github_html_url || citation_path(f.object.citation)
          = link_to "the file on GitHub", suggest_url, target: "_blank"
