- hypotheses ||= @hypotheses
- skip_citations ||= false
- skip_citation_id ||= nil
- search_tags ||= @search_tags || []

.hypotheses-list
  %ul
    - hypotheses.each do |hypothesis|
      %li
        .d-block
          - h_styling = hypothesis.unrefuted? ? {} : {class: "text-danger", style: "text-decoration: line-through;"}
          %span{ h_styling }
            = hypothesis.title
            = link_to internal_link_text, hypothesis_path(hypothesis.to_param), class: "internal-link"
          - if hypothesis.refuted?
            %em
              Refuted by:
            - hypothesis.refuted_by_hypotheses.each do |h|
              = h.title
              = link_to internal_link_text, hypothesis_path(h.to_param), class: "internal-link"
        .hypothesis-info
          %small.less-strong.convertTime.d-inline-block
            = l hypothesis.created_at, format: :convert_time
          -# Score hidden for now, because it's inaccurate
          -# .score-bubble.small{ class: hypothesis_score_class(hypothesis.score) }
          -#   = hypothesis.score
          - hypothesis.tags.each do |tag|
            = link_to tag.title, hypotheses_path(sortable_search_params.merge(search_array: (search_tags + [tag.title]))), class: "tag-bubble small"

