- hypotheses ||= @hypotheses

.full-screen-table
  %table.table.table-striped.table-sm.table-bordered
    %thead
      %th
        Hypothesis
      %th
        Tags
      %th
        Created
      %th
        Citation
    %tbody
      - hypotheses.each do |hypothesis|
        %tr
          %td
            = link_to hypothesis.title, hypothesis_path(hypothesis.to_param)
            - if current_user&.developer?
              %code.small.only-dev-visible= hypothesis.id
          %td
            = hypothesis.family_tag&.title unless hypothesis.family_tag == Tag.uncategorized
            -# TODO: uncomment when possible to add multiple tags
            -# %small
            -#   = hypothesis.tags.each do |tag|
            -#     - next if tag.id == hypothesis.family_tag_id
            -#     = tag.title
          %td
            %span.convertTime
              = l hypothesis.created_at, format: :convert_time
          %td
            - citation = hypothesis.citations.first
            - if citation.present?
              = link_to citation.title, citation.url
