- hypotheses ||= @hypotheses
- skip_citations ||= false
- skip_citation_id ||= nil

.full-screen-table
  %table.table.table-striped.table-sm.table-bordered
    %thead
      %th
        Hypothesis
      %th
        Tags
      %th
        Created
      %th
        Citation
    %tbody
      - hypotheses.each do |hypothesis|
        %tr
          %td
            = hypothesis.title
            = link_to link_emoji, hypothesis_path(hypothesis.to_param), class: "link-with-emoji"
          %td
            = hypothesis.tags_string
          %td
            %span.convertTime
              = l hypothesis.created_at, format: :convert_time
          %td
            - citation = hypothesis.citations.each do |citation|
              - next if citation.id == skip_citation_id
              .d-block
                = citation.title
                = link_to link_emoji, citation_path(citation.to_param), class: "link-with-emoji"
