- hypotheses ||= @hypotheses
- skip_citations ||= false
- skip_citation_id ||= nil

.full-screen-table
  %table.table.table-striped.table-sm.table-bordered
    %thead
      %th
        Hypothesis
      %th.d-none.d-md-table-cell
        Created
      %th.d-none.d-md-table-cell
        Citation
    %tbody
      - search_tags = @search_tags || []
      - hypotheses.each do |hypothesis|
        %tr
          %td
            = hypothesis.title
            = link_to internal_link, hypothesis_path(hypothesis.to_param), class: "internal-link"
            - hypothesis.tags.each do |tag|
              = link_to tag.title, hypotheses_path(sortable_search_params.merge(search_tags: (search_tags + [tag.title]))), class: "tag-bubble small"
            .score-bubble.small.ml-2{ class: hypothesis_score_class(hypothesis.score) }
              = hypothesis.score

          %td.d-none.d-md-table-cell
            %span.convertTime
              = l hypothesis.created_at, format: :convert_time
          %td.d-none.d-md-table-cell
            - citation = hypothesis.citations.each do |citation|
              - next if citation.id == skip_citation_id
              .d-block
                - if citation.title_url? # If it's a URL, truncate so it isn't too ugly
                  = citation.title.truncate(50)
                - else
                  = citation.title
                = link_to internal_link, citation_path(citation.to_param), class: "internal-link"
