%h1
  Edit Hypothesis

= form_for @hypothesis, url: { action: "update" }, html: { class: "form", id: "hypothesisForm" } do |f|
  = f.hidden_field :add_to_github

  .row.mt-4.mb-4
    .col-md-8.col-xl-6
      - if @hypothesis.errors_full_messages.any?
        = render partial: "/shared/errors", locals: { name: "Hypothesis", obj: @hypothesis, error_messages: @hypothesis.errors_full_messages }

      .form-group
        = f.label :title do
          Hypothesis text
          %span.small.less-strong
            must be falsifiable
        = f.text_area :title, class: "form-control"
      .form-group
        = f.label :tags_string do
          Topics
          %small.less-strong
            at least 2, comma delineated
        = f.text_field :tags_string, required: true, class: "form-control"

  .row.mt-4#citationsBlock
    .col-12
      %h3.mb-1 Citation(s)

    - @hypothesis.hypothesis_citations.build unless @hypothesis.hypothesis_citations.count > 0

    = f.fields_for :hypothesis_citations do |builder|
      = render partial: "/hypotheses/hypothesis_citation_fields", locals: {f: builder, initially_show: true}

  .row
    .col-6.col-md-4.col-xl-3
      .form-group
        = submit_tag "Save", class: "btn btn-primary submit-input"
    .col-6.col-md-4.col-xl-3
      .form-group.text-right
        = link_to_add_fields "Add a citation", f, :citations, {class: "btn btn-outline-primary"}, filename: "/hypotheses/hypothesis_citation_fields"
  .mt-4
    %a#submitForApproval.btn.btn-success.submit-input{ href: "#" }
      Submit for Approval
      %span.loadingSpinner.spinner-border.spinner-border-sm.collapse.ml-2
        %span.sr-only Loading...
%hr.mt-4
%small.less-strong
  Content submitted to Convus is licensed under the
  = link_to "Creative Commons Attribution-ShareAlike 4.0 International License", "http://creativecommons.org/licenses/by-sa/4.0/", target: "blank"
