%h1 Working toward truth

.row.mt-4
  .col-sm-4.mb-2.mt-2
    %strong
      = number_with_delimiter(@hypotheses.total_count)
    - if sortable_search_params?
      matching
    = "hypothesis".pluralize(@hypotheses.total_count)
  .col-sm-8.hypotheses-search.mb-2
    = form_tag hypotheses_path, method: "GET", class: "form-inline justify-content-end" do
      .form-group.hypotheses-search-select-group.fancy-select.no-restore-on-backspace.unfancy
        = select_tag :search_tags, options_for_select(tag_titles, @search_tags&.pluck(:title)), class: "form-control ", prompt: "Matching tags", multiple: true
      = submit_tag "Search", class: "btn btn-outline-primary hypotheses-search-btn"




.paginate-wrapper
  = paginate @hypotheses
.mt-4
= render partial: "/hypotheses/table", locals: { hypotheses: @hypotheses }
