%h1 New Hypothesis

.row.mt-4.mb-4
  .col-md-8.col-xl-6
    - if @hypothesis.errors.any?
      = render partial: "/shared/errors", locals: { name: "Hypothesis", obj: @hypothesis }

    = form_for @hypothesis, url: hypotheses_path, method: "POST", html: { class: "form" } do |f|
      .form-group
        = f.label :title do
          Hypothesis text
          %span.small.less-strong
            must be falsifiable
        = f.text_area :title,  required: true, class: "form-control"

      %h3.mt-4.mb-1 Citation(s)

      - @hypothesis.hypothesis_citations.build unless @hypothesis.hypothesis_citations.count > 0
      - @hypothesis.hypothesis_citations.each do |hypothesis_citation|
        - hypothesis_citation.citation ||= Citation.new
        = f.fields_for :citations_attributes, hypothesis_citation.citation do |nested_form|
          = render partial: "/citations/fields", locals: {form: nested_form, render_only_simple_attrs: true}
      .form-group
        = submit_tag "Save", class: "btn btn-primary"

%hr.mt-4
%small.less-strong
  Content submitted to Convus is licensed under the
  = link_to "Creative Commons Attribution-ShareAlike 4.0 International License", "http://creativecommons.org/licenses/by-sa/4.0/", target: "blank"
