.small-page-header
  %h1 New Hypothesis

= form_for @hypothesis, url: hypotheses_path, method: "POST", html: { class: "form", id: "hypothesisForm" } do |f|
  .row.mb-4
    .col-md-8.col-xl-6
      - if @hypothesis.errors.any?
        = render partial: "/shared/errors", locals: { name: "Hypothesis", obj: @hypothesis }


      .form-group
        = f.label :title do
          Hypothesis text
          %span.small.less-strong
            must be falsifiable
        = f.text_area :title, required: true, class: "form-control"
  .row
    .col
      .form-group
        = submit_tag "Save", class: "btn btn-primary"
        %em.small.less-strong.ml-2 after saving, you will be able to add an argument

%hr.mt-big
= render "/shared/content_license"
