%h1 New Hypothesis

= form_for @hypothesis, url: hypotheses_path, method: "POST", html: { class: "form", id: "hypothesisForm" } do |f|
  .row.mt-4.mb-4
    .col-md-8.col-xl-6
      - if @hypothesis.errors.any?
        = render partial: "/shared/errors", locals: { name: "Hypothesis", obj: @hypothesis }


      .form-group
        = f.label :title do
          Hypothesis text
          %span.small.less-strong
            must be falsifiable
        = f.text_area :title, required: true, class: "form-control"
  .row.mt-4#citationsBlock
    .col-12
      %h3.mb-1 Citation(s)

    - @hypothesis.hypothesis_citations.build unless @hypothesis.hypothesis_citations.count > 0
    = f.fields_for :hypothesis_citations do |builder|
      = render partial: "/hypotheses/hypothesis_citation_fields", locals: {f: builder, initially_show: true}

  .row
    .col-6.col-md-4.col-xl-3
      .form-group
        = submit_tag "Save", class: "btn btn-primary"
    .col-6.col-md-4.col-xl-3
      .form-group.text-right
        = link_to_add_fields "Add a citation", f, :hypothesis_citations, {class: "btn btn-outline-primary"}, filename: "/hypotheses/hypothesis_citation_fields"

%hr.mt-4
%small.less-strong
  Content submitted to Convus is licensed under the
  = link_to "Creative Commons Attribution-ShareAlike 4.0 International License", "http://creativecommons.org/licenses/by-sa/4.0/", target: "blank"
