- relation_initially_toggled = @hypothesis_related.present?
.small-page-header
  %h1
    New Hypothesis
    - unless relation_initially_toggled
      %small
        %a.gray-link.small{href: "#hypothesisRelationField", tabindex: -1, "role" => "button", "aria-expanded" => "false", "data-toggle" => "collapse", "data-querykey" => "show_raw", "data-queryvalue" => "true"}
          add related hypothesis

= form_for @hypothesis, url: hypotheses_path, method: "POST", html: { class: "form", id: "hypothesisForm" } do |f|
  .row.mb-4
    - if @hypothesis.errors.any?
      .col-md-8.col-xl-6
        = render partial: "/shared/errors", locals: { name: "Hypothesis", obj: @hypothesis }

    = render partial: "/hypotheses/relation_field", locals: {relation_kind: @hypothesis_related_kind, related_id: @hypothesis_related&.id}

    .max-width-text-container.col
      .form-group
        = f.label :title do
          Hypothesis text
          %span.small.less-strong
            must be falsifiable
        = f.text_area :title, required: true, class: "form-control"
  .row
    .col
      .form-group
        = submit_tag "Save", class: "btn btn-primary"
        %em.small.less-strong.ml-2 after saving, you will be able to add an explanation

%hr.mt-big
= render "/shared/content_license"
