%h1 New Hypothesis

.row.mt-4.mb-4
  .col-md-8.col-xl-6
    - if @hypothesis.errors.any?
      = render partial: "/shared/errors", locals: { name: "Hypothesis", obj: @hypothesis }

    = form_for @hypothesis, url: hypotheses_path, method: "POST", html: { class: "form" } do |f|
      .form-group
        = f.label :title do
          Hypothesis text
          %span.small.less-strong
            must be falsifiable
        = f.text_area :title,  required: true, class: "form-control"
      .form-group
        .form-check
          %label.form-check-label
            = f.check_box :has_direct_quotation, class: "form-check-input"
            Direct quotation
      .form-group
        = f.label :tags_string do
          Topics
          %small.less-strong
            at least 2, comma delineated
        = f.text_field :tags_string, required: true, class: "form-control"

      %h3.mt-4.mb-1 Citation

      - @hypothesis.citations.build unless @hypothesis.citations.count > 0
      - @hypothesis.citations.each do |citation|
        = f.fields_for :citations_attributes, citation do |nested_form|
          = render partial: "/citations/fields", locals: {form: nested_form}

          -# TODO: add published_date_str fields

      .form-group
        = submit_tag "Submit for review", class: "btn btn-primary"
