.max-width-text-container.mt-big
  %h1{ style: "font-size: 1.5rem" }
    Hypothesis
    - if @hypothesis.editable_by?(current_user)
      %small
        = link_to "edit", edit_hypothesis_path(@hypothesis.id), class: "btn btn-outline-primary"


  %p.mt-4
    %span{ style: "font-size: 125%;" }
      = @hypothesis.title
  - @hypothesis.quotes.each do |quote|
    %p
      = quote.text
      %br
      %em.small
        - if quote.citation.present?
          #{quote.citation.publication.title}: #{link_to quote.citation.title, quote.citation.url}
        - else
          No citation!

  - if @hypothesis.approved?
    - badges = @hypothesis.badges
    %hr.mt-big
  - else
    %hr.mt-big
    - badges = @hypothesis.unapproved_badges
    %p.mt-4
      %span.text-warning This Hypothesis hasn't been approved
      \- the score is if the hypothesis and citation are approved as they were originally submitted

  - if @hypothesis.waiting_on_github?
    .alert.alert-info.mt-4
      - if @hypothesis.pull_request_number.present?
        %h4
          Hypothesis waiting on approval,
          = link_to "PR#{@hypothesis.pull_request_number}", @hypothesis.pull_request_url
      - else
        Waiting for pull request to be created, page will reload.
        -# if hypothesis hasn't been updated recently, skip this (something broke?)
        - if @hypothesis.updated_at > Time.current - 2.minutes
          :javascript
            window.setTimeout(() => {location.reload();}, 2000);

%h2.mt-big Details
.row.mt-4
  .col-md-6
    %table.table-list
      %tbody
        -# %tr
        -#   %td Title
        -#   %td= @hypothesis.title
        %tr
          %td Created
          %td
            %span.convertTime.preciseTime
              = l @hypothesis.created_at, format: :convert_time
        - if current_user&.developer?
          %tr.only-dev-visible
            %td ID
            %td
              = @hypothesis.id
          -# %tr.only-dev-visible
          -#   %td slug
          -#   %td= @hypothesis.to_param
        %tr
          %td Score
          %td
            - if @hypothesis.approved?
              %strong.score-bubble{ class: hypothesis_score_class(@hypothesis.score) }
                = @hypothesis.score
            - unapproved_score = @hypothesis.unapproved_score
            - if @hypothesis.unapproved? || @hypothesis.score < unapproved_score
              %em.less-strong
                when approved:
              %span.score-bubble.small.less-strong{ class: hypothesis_score_class(unapproved_score) }
                = unapproved_score

        %tr
          %td GitHub
          %td
            - if @hypothesis.approved?
              = link_to @hypothesis.file_path.truncate(75), @hypothesis.github_html_url, title: @hypothesis.file_path
              - if @hypothesis.pull_request_number.present?
                %em.small.less-strong.d-block.mt-2
                  Approved by
                  = link_to "PR#{@hypothesis.pull_request_number}", @hypothesis.pull_request_url
        %tr
          %td Direct quotation?
          %td= display_true_or_false(@hypothesis.has_direct_quotation)
        %tr
          %td Topics
          %td
            - if @hypothesis.tags.any?
              %ul
                - @hypothesis.tags.each do |tag|
                  %li
                    = tag.title

  .col-md-6
    %table.table.table-sm.table-striped.table-bordered.scoring-table
      %thead
        %th Scoring rubric
        %th Potential
        %th Received
      %tbody
        - total_potential = 0
        - HypothesisScorer::BADGES.each do |section_key, section_badges|
          - section_badges.each do |badge_key, value|
            %tr
              %td
                <span class="less-strong">#{section_key.to_s.titleize}:</span> #{HypothesisScorer.badge_humanized(badge_key)}
              %td
                %span.less-strong= value
              %td
                - if badges.include?(badge_key)
                  %strong= value
                - else
                  %span.less-strong 0
        %tr
          %td
            %strong Total
          %td
            %span.less-strong= HypothesisScorer.total_potential_score
          %td
            %strong= badges.values.sum

%h2.mt-4.mb-0
  = "Citation".pluralize(@hypothesis.citations.count)

.row.mt-2
  - @citations.each do |citation|
    = render partial: "/citations/display", locals: { citation: citation }
