%h1
  Viewing Hypothesis

.max-main-width
  %table.table-list
    %tbody
      %tr
        %td Title
        %td= @hypothesis.title
      %tr
        %td ID
        %td= @hypothesis.id
      %tr.small
        %td Direct quotation?
        %td= @hypothesis.has_direct_quotation
      %tr
        %td Tags
        %td
          - if @hypothesis.tags.any?
            %ul
              - @hypothesis.tags.each do |tag|
                %li
                  = tag.title
      %tr
        %td Created at
        %td
          %span.convertTime
            = l @hypothesis.created_at, format: :convert_time
      %tr
        %td Citations
        %td= @citations.count



%h2.mt-4.mb-1 Citations

= render partial: "/citations/table", locals: { citations: @citations }
