- is_edit ||= false

.small-page-header
  %h1
    %span.d-none.d-md-block
      Hypothesis:
.row
  = render partial: "/hypotheses/show_title", locals: {hypothesis: @hypothesis, render_show_link: false}

- form_submit_path = is_edit ? hypothesis_argument_path(hypothesis_id: @hypothesis, id: @argument.id) : hypothesis_arguments_path(hypothesis_id: @hypothesis)
= form_for @argument, url: form_submit_path, method: (is_edit ? "PATCH" : "POST"), html: { class: "form", id: "argumentForm" } do |f|
  = f.hidden_field :add_to_github, class: "addToGithubField"

  .row
    - if @argument.errors.any?
      .col-md-6.mb-4.mt-2
        = render partial: "/shared/errors", locals: { name: "Argument", obj: @argument }

  .row.mt-4
    .max-width-text-container.col
      .form-group.mb-0
        = f.label :text do
          %span.less-strong
            - if is_edit
              Edit new argument:
            - else
              Create argument:
        = f.text_area :text, rows: 10, class: "form-control"
  #quoteFields.row

  #quoteFieldsRemoved.row
  .row.pt-4.mt-5
    .col-6.col-md-4.col-xl-3
      .form-group
        = submit_tag "Save", class: "btn btn-primary"

      - if is_edit
        .mt-4
          %a#submitForApproval.btn.btn-success.submit-input{ href: "#" }
            Submit for Approval
            %span.loadingSpinner.spinner-border.spinner-border-sm.collapse.ml-2
              %span.sr-only Loading...
%hr
%h2.mt-4
  - if @hypothesis_citations_shown.count == 0
    No Existing
  citations:
.row
  - @hypothesis_citations_shown.each do |hypothesis_citation|
    = render partial: "/hypotheses/show_hypothesis_citation", locals: { hypothesis_citation: hypothesis_citation, skip_challenge: true }

.mt-big
= render "/shared/content_license"
