- is_edit ||= false
- render_preview = @explanation.id.present? && @explanation.body_html.present?
- hypothesis_relation = @hypothesis.relations.where(hypothesis_later_id: @hypothesis.id).first
- relation_initially_toggled = hypothesis_relation.present?

.small-page-header
  %h1
    %span.d-none.d-md-block
      Hypothesis:

- form_submit_path = is_edit ? hypothesis_explanation_path(hypothesis_id: @hypothesis, id: @explanation.id) : hypothesis_explanations_path(hypothesis_id: @hypothesis)
= form_for @explanation, url: form_submit_path, method: (is_edit ? "PATCH" : "POST"), html: {class: "form", id: "explanationForm"} do |f|
  = f.hidden_field :add_to_github, class: "addToGithubField"
  .row
    - if @hypothesis.editable_by?(current_user)
      .max-width-text-container.col
        .form-group
          = label_tag :hypothesis_title do
            Hypothesis text
            %span.small.less-strong
              must be falsifiable
          = text_area_tag :hypothesis_title, @hypothesis.title, class: "form-control"
          - unless relation_initially_toggled
            .less-strong.text-right
              %a.gray-link.small{href: "#hypothesisRelationField", tabindex: -1, "role" => "button", "aria-expanded" => "false", "data-toggle" => "collapse", "data-querykey" => "show_raw", "data-queryvalue" => "true"}
                add hypothesis relation

      = render partial: "/hypotheses/relation_field", locals: {relation_kind: hypothesis_relation&.kind, related_id: hypothesis_relation&.hypothesis_not(@hypothesis)&.id}

      .max-width-text-container.col
        .form-group.fancy-select.unfancy.create-options-add
          = label_tag :hypothesis_tags_string do
            Topics
            %small.less-strong
              at least 2
          - tags_string = (@hypothesis.tag_titles + tag_titles).uniq # include unapproved tags from this hypothesis in search items
          = select_tag :hypothesis_tags_string, options_for_select(tags_string, @hypothesis.tag_titles), { class: "form-control", required: true, multiple: true}

    - else
      = render partial: "/hypotheses/show_title", locals: {hypothesis: @hypothesis, render_show_link: true}
  .row
    - if @explanation.errors.any?
      .col-md-6.mb-4.mt-2
        = render partial: "/shared/errors", locals: {name: "explanation", obj: @explanation}

  .row.mt-4
    .max-width-text-container.col
      .form-group.mb-0
        = f.label :text do
          %span.explanation-text-label{ title: "Renders with markdown, except no images, links or html" }
            - if is_edit
              Edit new explanation:
            - else
              Create explanation:
        = f.text_area :text, rows: 10, placeholder: "Make your explanation!", class: "form-control"
        .less-strong.text-right
          %a.gray-link{href: "#editingInfo", tabindex: -1, "role" => "button", "aria-expanded" => "false", "data-toggle" => "collapse", "data-querykey" => "show_raw", "data-queryvalue" => "true"}
            editing help
      #editingInfo.collapse
        %ul.mt-2
          %li All explanations need at least one blockquote. Create one by starting a line with ">"
          %li Create italics by putting underscores <em>_around some text_</em>
          %li Make text bold by putting two asterisks <strong>**around text**</strong>
          %li Save to see a preview of what the explanation will look like

  #quoteFieldsWrapper
    #quoteFields.row
      - @explanation.explanation_quotes.not_removed.ref_ordered.each do |explanation_quote|
        = render partial: "/hypothesis_explanations/explanation_quote_fields", locals: {explanation_quote: explanation_quote}

    #quoteFieldsRemoved.removed-quotes.row.collapse{class: (@explanation.explanation_quotes.removed.any? ? "show" : "")}
      .col-12.text-warning
        %h4 Removed quotes
      - @explanation.explanation_quotes.removed.ref_ordered.each do |explanation_quote|
        = render partial: "/hypothesis_explanations/explanation_quote_fields", locals: {explanation_quote: explanation_quote}
  .row.pt-4.mt-5
    .col
      .form-group
        = submit_tag "Save", class: "btn btn-primary"

  - if render_preview
    #explanationPreview.row.explanations-wrapper.mt-4.mb-4.collapse{class: (render_preview ? "show" : "")}
      .max-width-text-container
        .col-12.preview-text.mt-3
          %em.text-info Preview of explanation:
        = render partial: "/hypothesis_explanations/show", locals: {explanation: @explanation, preview: true, skip_edit: true}

  - if is_edit
    .mt-4
      %button#submitForApproval.btn.btn-success.submit-input
        Submit for Approval
        %span.loadingSpinner.spinner-border.spinner-border-sm.collapse.ml-2
          %span.sr-only Loading...
      %em#quoteRequired.collapse.less-strong
        Explanations must include at least one block quote to submit (start line with >)

    %h2.mt-5
      - if @explanation.citations.count == 0
        No existing citations
      - else
        Citations:
    .row#citationsBlock{"data-citeresearchkinds" => Citation.kinds_research.join(",")}
      = f.fields_for :citations do |builder|
        - citation = builder.object
        - explanation_quotes = @explanation.explanation_quotes.where(url: citation.url)
        = render partial: "citation_fields", locals: {f: builder, initially_toggled: ParamsNormalizer.boolean(params[:initially_toggled]), citation: citation, explanation_quotes: explanation_quotes}

.mt-big
= render "/shared/content_license"
