- is_edit ||= false
- is_challenge = @challenged_hypothesis_citation.present?

.small-page-header
  %h1
    %span.d-none.d-md-block
      Hypothesis:
.row
  = render partial: "/hypotheses/show_title", locals: {hypothesis: @hypothesis, render_show_link: true}

%h2.mt-4.small-page-header
  - if is_edit
    - if is_challenge
      Edit citation challenge:
    - else
      Edit new citation:
  - else
    - if is_challenge
      Challenge hypothesis citation:
    - else
      Add citation to hypothesis:

- form_submit_path = is_edit ? hypothesis_citation_path(hypothesis_id: @hypothesis, id: @hypothesis_citation.id) : hypothesis_citations_path(hypothesis_id: @hypothesis)
= form_for @hypothesis_citation, url: form_submit_path, method: (is_edit ? "PATCH" : "POST"), html: { class: "form", id: "hypothesisForm" } do |f|
  = hidden_field_tag :initially_toggled, params[:initially_toggled]
  = f.hidden_field :add_to_github, class: "addToGithubField"

  .row{ citations_block_attributes }
    - if is_challenge
      = render partial: "/hypotheses/show_hypothesis_citation", locals: { hypothesis_citation: @challenged_hypothesis_citation, skip_challenge: true }

    - if @hypothesis_citation.errors.any?
      -# These rows and columns duplicate what is in hypothesis_citation_fields - but we want a separate thing
      .col-md-6.mb-4.mt-2
        = render partial: "/shared/errors", locals: { name: "Citation", obj: @hypothesis_citation }

    = render partial: "/hypotheses/hypothesis_citation_fields", locals: {f: f, initially_show: true, skip_remove: true, render_full_fields: is_edit, is_challenge: is_challenge, initially_toggled: ParamsNormalizer.boolean(params[:initially_toggled])}

  .row
    .col-6.col-md-4.col-xl-3
      .form-group
        = submit_tag "Save", class: "btn btn-primary"

      - if is_edit
        .mt-4
          %a#submitForApproval.btn.btn-success.submit-input{ href: "#" }
            Submit for Approval
            %span.loadingSpinner.spinner-border.spinner-border-sm.collapse.ml-2
              %span.sr-only Loading...
%hr
%h2.mt-4
  - if @hypothesis_citations_shown.count == 0
    No
  - if is_challenge
    Other
  - else
    Existing
  citations:
.row
  - @hypothesis_citations_shown.each do |hypothesis_citation|
    = render partial: "/hypotheses/show_hypothesis_citation", locals: { hypothesis_citation: hypothesis_citation, skip_challenge: true }

.mt-big
= render "/shared/content_license"
