.row
  .max-width-text-container.col
    %h1
      About Convus

    %p.mt-4
      An #{link_to "adversarial collaboration", "https://en.wikipedia.org/wiki/Adversarial_collaboration"} platform to improve our collective knowledge (#{link_to "read about <em>why</em> adversarial collaboration", "https://slatestarcodex.com/2017/03/24/guided-by-the-beauty-of-our-weapons/"}).

    %h4.mt-big General process

    %ul
      %li
        When a hypothesis is submitted, moderators review and approve it (if the hypothesis is valid, ie falsifiable)
      %li
        Hypotheses are given a score based on the quality of their citations
        (#{link_to "read about citation scoring", citation_scoring_path})
      %li
        Disagree with a hypothesis? Challenge the citations or submit a hypothesis with better citations.

    / %hr.mt-big

    %h4.mt-big Objectives
    %ul
      %li
        Provide a platform for scientific communication and public consideration of science
      %li
        Encourage discussion based on evidence and outcomes
      %li
        Offer a place to learn about other viewpoints and challenge your own opinions
      %li
        Reward quality over novelty and improvement over perfection

    %hr.mt-big

    %p.mt-4
      %strong
        Convus is open source.
      Check out #{link_to "the web app repository", "https://github.com/convus/convus_webapp"} and #{link_to "the content repository", "https://github.com/convus/convus_content"}.
