.row
  .max-width-text-container.col
    %h1
      Citation scoring

    .alert.alert-info.mt-4
      %h4 This is a work in process!
      This was written to clarify what things <em>should</em> look like
      %br
      The examples don't currently match the scores that they should.

    %p.mt-4
      %strong
        Citations receive a 1-10 number reflecting their status on Convus.

      Hypotheses have the score of their highest status citation.

    %p
      This score reflects how well the citation supports Convuses intentions:

    %ul
      %Li
        Publicly accessible, readable by everyone
      %li
        Reviewed by experts from the applicable field of study
      %li
        results defined by evidence and outcomes
      %li
        Published by a trustworthy source

    %p
      The highest score articles are ones that have been peer reviewed prior to publication. Judging the quality of the peer review is difficult, but impact factor is an easily accessible proxy (#{hypothesis_link_to "supporting hypothesis", 2253}). For now, we're using the impact factor of the journal to sort publications into high, medium and low status.

    %p.mt-4
      Here are some examples of articles and what they <em>will be</em> scored

    %table.table.table-sm.table-striped.table-bordered
      %thead
        %th Score
        %th Examples

      %tbody
        %tr
          %td 1
          %td
            %ul
              %li
                A webpage
                %small
                  \... (include a non-peer reviewed journal)
        %tr
          %td 2
          %td
            %ul
              %li
                Wall Street Journal article
                %small ...
              %li
                New York Times article
              %li
                Wikipedia entry
                %small
                  #{citation_link_to "1", 1645}, ...
        %tr
          %td 3
          %td
            %ul
              %li
                Peer reviewed, Low status publication
                %small ...
              %li
                Patent
                %small ...
        %tr
          %td 4
          %td
            %ul
              %li
                United States agency statistics
                %small
                  #{citation_link_to "1", 1642}, #{citation_link_to "2", 1640}, #{citation_link_to "3", 1627}

              %li
                Peer reviewed, Medium status publication, not open access
                %small ...

        %tr
          %td 5
          %td
            %ul
              %li
                Peer reviewed, High status publication
                %small ...
        %tr
          %td 6
          %td
            %ul
              %li
                Peer reviewed, Medium status publication, Open access
                %small ...
        %tr
          %td 7
          %td
            %ul
              %li
                Meta-analysis, Peer reviewed, Medium status publication, Open access
                %small ...
        %tr
          %td 8
          %td
            %ul
              %li
                Review, Peer reviewed, High status publication, Open access
                %small ...
        %tr
          %td 9
          %td
            %ul
              %li
                Randomized controlled trial, Peer reviewed, High status publication, Open access
                %small ...
              %li
                Meta-analysis, Peer reviewed, High status publication, Open access
                %small ...
              %li
                = link_to "Legal citation", "https://en.wikipedia.org/wiki/Legal_citation"
                %small ...

    %p.mt-4
      Here is the actual scoring rubric:
    %table.table.table-sm.table-striped.table-bordered
      %thead
        %th Scoring rubric
        %th Value
      %tbody
        - CitationScorer::BADGES.each do |section_key, section_badges|
          - section_badges.each do |badge_key, value|
            %tr
              %td
                <span class="less-strong">#{section_key.to_s.titleize}:</span> #{CitationScorer.badge_humanized(badge_key)}
              %td
                %span.less-strong= value


    %hr.mt-big

    %p
      If you have a suggestion for how this can be done better, please open #{link_to "an issue", "https://github.com/convus/convus_webapp/issues/new"} or a #{link_to "pull request", "https://github.com/convus/convus_webapp/pulls"}.
