!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{ name:"viewport", content:"width=device-width, initial-scale=1, shrink-to-fit=no" }
    %title= page_title
    = csrf_meta_tags
    = csp_meta_tag
    - if Rails.env.development?
      %link{ href: "/favicon-local.ico", rel: "icon", sizes: "192x192" }
    - else
      %link{ href: "/favicon.ico", rel: "icon", sizes: "192x192" }
    = stylesheet_pack_tag "application_css", media: "all", "data-turbolinks-track": "reload"
    = javascript_pack_tag "application", "data-turbolinks-track": "reload"
    :javascript
      window.tags = #{tag_titles};
  %body
    - if in_admin?
      %nav.navbar.navbar-expand.navbar-dark.bg-dark#adminNavbar
        .container-fluid
          %a.d-lg-inline-block.navbar-brand{ href: admin_root_url }
            %span.d-none.d-xl-inline-block
              Convus
            Admin
          - if admin_nav_display_view_all?
            = link_to admin_nav_select_link_active[:path], class: "nav-link text-muted em" do
              All
              .d-none.d-xl-inline-block
                = admin_nav_select_link_active[:title]
          .fancy-select.unfancy.no-restore-on-backspace.mr-auto#adminNavSelect
            = select(:admin, :other_navigation, options_for_select(admin_nav_select_links.map { |l| [l[:title], l[:path]] }), { prompt: admin_nav_select_prompt }, { class: "form-control" })
          .d-none.hidden-select#adminNavSelectDuplicate
            = select(:admin, :other_navigation, options_for_select(admin_nav_select_links.map { |l| [l[:title], l[:path]] }), { prompt: admin_nav_select_prompt }, { class: "form-control" })
    - else
      %nav.navbar.navbar-expand.navbar-light.main-navbar
        .container-fluid
          %ul.navbar-nav.ml-auto
            %li.nav-item
              = active_link "Hypotheses", hypotheses_path, class: "nav-link"
            %li.nav-item
              - on_new_hypothesis = controller_name == "hypotheses" && action_name == "new"
              = link_to new_hypothesis_path, class: "nav-link #{on_new_hypothesis ? 'active' : ''}" do
                Add
                %span.d-none.d-sm-inline hypothesis
            %li.nav-item
              = active_link "About", about_path, class: "nav-link"

            - if current_user.blank?
              %li.nav-item
                = active_link "Login", new_user_session_path, class: "nav-link"
            - else
              %li.navbar-text.ml-2
                %small.less-strong
                  %span.d-none.d-sm-inline
                    Signed in as
                    = active_link current_user.username, account_path
                  -# TODO: add a link to this or whatever, if !current_user.github?
                  -#   = link_to current_user.username, edit_user_registration_path

    = render "/shared/flash_messages"

    .container-fluid.main-content-container
      = yield

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91862821-1"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-91862821-1');</script>

