!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{ name:"viewport", content:"width=device-width, initial-scale=1, shrink-to-fit=no" }
    %title= page_title
    = csrf_meta_tags
    = csp_meta_tag
    %link{ href: "/favicon.ico", rel: "icon", sizes: "192x192" }
    = stylesheet_pack_tag "application_css", media: "all", "data-turbolinks-track": "reload"
    = javascript_pack_tag "application", "data-turbolinks-track": "reload"
  %body
    %nav.navbar.navbar-expand.navbar-light
      .container-fluid
        %ul.navbar-nav.ml-auto
          %li.nav-item
            = active_link "Hypotheses", hypotheses_path, class: "nav-link"
          %li.nav-item
            = active_link "About", about_path, class: "nav-link"

          - if current_user.blank?
            %li.nav-item
              = link_to "sign in", github_link, class: "nav-link"
          - else
            %li.nav-item
              = active_link "Add hypothesis", new_hypothesis_path, class: "nav-link"
            %li.navbar-text.ml-2
              %small.less-strong
                signed in as #{current_user.username}

    = render "/shared/flash_messages"

    .container-fluid
      = yield
