!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{ name:"viewport", content:"width=device-width, initial-scale=1, shrink-to-fit=no" }
    %title= page_title
    = csrf_meta_tags
    = csp_meta_tag
    %link{ href: "/favicon.ico", rel: "icon", sizes: "192x192" }
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload"
    = javascript_pack_tag "application", "data-turbolinks-track": "reload"
  %body
    .wrapper
      %nav.main-nav.navbar.primary-navbar.navbar-expand-md.navbar-light
        %ul.navbar-nav
          %li
            = active_link "About", about_path, class: "nav-link"
          %li
            = active_link "Hypotheses", hypotheses_path, class: "nav-link"
          - if current_user.present?
            %li
              = link_to "Add hypothesis", new_hypothesis_path
          %li
            - if current_user.present?
              %small.less-strong
                signed in as #{current_user.username}
            - else
              = link_to "sign in", github_link

      = render "/shared/flash_messages"

      = yield
